.header { 
    display: flex; 
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: black;
    /* #fa4c00 */
    padding: 10px;
}

a { 
    text-decoration-line: none;
    color: white;
}

.logo-container { 
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.logo { 
    height: 50px;
    margin-right: 5px;
}

.nav-links { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0; 
    margin: 0;
    font-size: 0.5rem;
}
   

.nav-links li { 
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
}

.signlog-container { 
    display: flex; 
    align-items: center;
}

button:hover { 
    cursor: pointer;
}

.btn { 
    height: 40px;
    border-radius: 20px;
    width: 90px;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 0.95rem;
}

.login { 
    margin-left: 20px;
}

.signup { 
    background-color: #fa4c00;
    color: white;
}